@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*shared element*/

* {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.discription {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

.cmn-color {
    color: red;
}

.cmn-title{
    font-size: 3rem;
    font-weight: 700;
}


/*start nav*/

nav {
    display: flex;
    justify-content: start;
    margin: 40px auto;
    /*border: 1px solid red;*/
    
}

.left-column {
    display: flex;
    text-align: left;
    gap: 15px;
    /*border: 1px solid red;*/
}

.left-column img {
    width: 100%;
}

.nav-title {
    font-size: 2rem;
    font-weight: 900;
}

.right-column ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    /*border: 1px solid red;*/
}

.right-column ul li:hover {
    color: red;
    font-size: 1.1rem;
}


/*Finish Nav*/
/*Start Banner*/

.banner {
    /*border: 1px solid red;*/
    background-image: url('../Images/Group13\(1\)\ \(1\).png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    
}

.banner-content {
    max-width: 880px;
    padding-top: 150px;
    padding-bottom: 120px;
    margin-top: 150px;
    margin-bottom: 120px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
}

.list {
    width: 600px;
    height: 100px;
    background-color: rgb(187, 182, 179);
    border-radius: 5px;
}

.list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.list ul li {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}

.clr {
    background-color: red;
}

.bnr {
    width: 710px;
    margin-top: 50px;
    margin-bottom: 60px;
}


/*finished banner*/



.tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


.trs{
    color: rgb(44, 42, 42);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    padding-left: 25px;
}

li{
    margin-bottom: 20px;
}

.primary{
    background-color: red;
    padding: 15px 25px;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    font-size: medium;
}

.primary:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
}


/*finish tours*/


/*
.destination-title{
    text-align: center;
}

.dscrp{
    color: rgb(44, 42, 42);
}


.one{
    display: flex;
    gap: 15px;
}

.one img{
    width: 100%;
}

.two {
    display: flex;
    flex: 30% 50% 20%;
}

.two img{
    width: 100%;
}

*/



.why-choose{
    margin: 80px auto;
}

.why-choose-title{
    text-align: center;
}

.left, .right, .price{
    display: block;
    border-radius: 8px;
    padding: 25px;
}

.left{
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
}

.left:hover{
    border: 2px solid red;
}

.right{
    background-color: rgba(178, 197, 148, 0.568);
    border: 2px solid rgba(178, 197, 148, 0.568);
}

.right:hover{
    border: 2px solid red;
}

.price{
    background-color: #a57b3f;
    border: 2px solid rgb(133, 97, 46);
    width: 50%;
    margin-top: 15px;
}

.price:hover{
    border: 2px solid red;
}

.column{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.service-title{
    margin-top: 15px;
    margin-bottom: 15px;
}

.discriptions{
    width: left 50%;
}

.us{
    color: rgb(44, 42, 42);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
}

/*finish why-choose*/




/*Responciv Website*/

@media screen and (max-width: 600px) {

    nav {
        margin-top: 15px;
        margin-bottom: 10px;
        flex-direction: column;
        padding: 15px;
    }

    .nav-title {
        font-size: 1rem;
    }

    .icon{
        text-align: center;
        width: 50%;
    }

    .right-column ul {
        flex-direction: column;
        gap: 3px;
    }

    /*complit nav*/

    .banner{
        padding: 15px;
        width: auto;
        height: auto;
        border-radius: 10px;
    }

    .banner-content {
        max-width: 50%;
        margin-top: -128px;
        margin-bottom: -90px;
    }

    .banner-title {
        font-size: 1.5rem;
        margin-bottom: 28px;
    }

    .list {
        width: auto;
        height: auto;
        background-color: rgb(187, 182, 179);
    }

    .list ul{
        flex-direction: column;
        text-align: center;
        padding-right: 25px;
    }


    .bnr {
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*complit banner*/

    .tours{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
    }

    .tours-title{
        font-size: 1.8rem;
        font-weight: 700;
    }

    .tours-img img{
        width: 100%;
    }

    .primary{
        margin-top: 8px;
        margin-bottom: 35px;
    }

    /*complit tours*/


    .why-choose{
        margin: 20px auto;
        padding: 15px;
    }

    .column{
        flex-direction: column;
        gap: 5px;
    }
    .us{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }
    .price{
        width: 85%;
        margin-top: 10px;
    }
    
}